.App {
  text-align: center;
  margin: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-top: 230px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  align-self: auto;
  padding: 8px 16px;
  border: none;
  background-color: #5be7a9;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #346357;
}

